*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    font-family: Arial, Helvetica, sans-serif ;
}

.main .sidebar{
    width: auto;
    height: auto;
    background: #030303;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.main .sidebar-in{
    background: #111111;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.main .sidebar-in .logo{
    width: auto;
}

.main .sidebar-in .logo img{
    width: 100px;
    margin-bottom: -14px;
    margin-top: -10px;
}

.main .sidebar-in  ul{
    list-style: none;
}

.sidebar-in ul>li{
    padding: 10px 10px;
    padding-top: 10px;
}

.sidebar-in ul>li a:hover{
    color: #fff;
}

.sidebar-in ul>li a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}

.main .sidebar-in ul>li a i{
    font-size: 20px;
    margin-right: 10px;
}

.second{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 40% 40% 10%;
    border: 1px solid;
    border-radius: 10px;
    background: #272626 ;
    height: auto;
}

.second .libary{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.second a{
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    font-weight: 600;
}

.main .second a i{
    font-size: 20px;
    margin-right: 10px;
}

.second2{
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-cuon{
    overflow-y: auto;
    border: 1px solid white;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: -10px;
    height: 100%;
}

.create{
    background: #302f2f;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.second2 .sidebar-cuon::-webkit-scrollbar{
    background: transparent;
}

.second2 .sidebar-cuon::-webkit-scrollbar-thumb{
    background: transparent;
    width: 10px;
}

.second2 .sidebar-cuon:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width: 10px;
}

.create h4{
    color: #fff;
    font-size: 15px;  
}

.create p{
    color: #fff;
    font-size: 12px;  
    margin: 12px 0;
}

.create button{
    border: 0;
    outline: 0;
    border-radius: 20px;
    padding: 8px 15px;
    font-weight: 600;
    margin-bottom: 10px;
}
.second .privacy{
    padding-top: 10px;
    list-style: none;
    border: 1px solid white;
    margin-top: 70px;
}

.privacy li {
    padding: 0 12px;
    padding-bottom: 8px;
}

.privacy a{
    text-decoration: none;
    color: #575656;
    font-size: 16px;
    font-weight: 600;
    margin: 0 6px;
}

.privacy .Cookie a:hover{
    text-decoration: underline;
}

.language{
    padding-top: 30px;
    height: auto;
    padding-left: 10px;
}

.language button{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    color: #ffffff;
    border: 1px solid #818080;
    border-radius: 20px;
}

.language button:hover{
    padding: 11px 31px;
    border: 1px solid #fff;
}

.main-container{
    margin-left: 370px;
    background: #101010;
    overflow-y: scroll;
    border-radius: 10px;
    margin-top: 10px;
    height: calc(812px - 57px);
}

.main-container::-webkit-scrollbar{
    background: transparent;
    border-radius: 10px;
    width: 10px;
}

.main-container::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 10px;
}

.main-container:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
}

.main-container .top{
    padding: 10px 30px;
    background: #0b0909;
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    right: 0;
    left: 368px;
    border-radius: 10px;
    height: 60px;
    z-index: 10;
}

.main-container .top button{
    background: transparent;
    border: 0;
    outline: 0;
}

.main-container .top .prev-but button i{
    color: #838181;
    font-size: 22px;
    margin-right: 20px;
}

.top .login-but{
    display: flex;
    margin-left: auto;
}

.top .login-but .sign-up{
    color: #838181;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;
}

.top .login-but .sign-up:hover{
    color: #ffffff;
}

.top .login-but .login{
    color: #242323;
    font-size: 16px;
    font-weight: 600;
    background: #fff;
    padding: 10px 15px;
    border-radius: 20px;
}

.top .login-but .login:hover{
    background: #818080;
}

.list{

    padding-top: 100px;
    padding-left: 50px;
}

.spotify-list{
    padding-top: 10px;
}

.spotify-list h2{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.spotify-list .card{
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.spotify-list .card .item{
    min-width: 140px;
    width: auto;
    background: #272626;
    cursor: pointer;
    padding: 15px;
    border-radius: 6px;
}

.spotify-list .card .item:hover{
    background-color:#3d3c3c ;
}

.spotify-list .card .item img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.spotify-list .item p{
    color: #8f8e8e;
    font-size: 13px;
    margin-top: 10px;
}

.spotify-list .item h4{
    color: #fff;
}

.spotify-list .item p:hover{
    text-decoration: underline;
}

.spotify-list .play-but{
    position: relative;
}

.spotify-list .play-but i{
    position: absolute;
    background: #1db954;
    border-radius: 50%;
    padding: 10px;
    right: 8px;
    top: -40px;
    opacity: 0;
    transform: 0.3s ease all;
}

.spotify-list .card .item:hover .play-but i{
    opacity: 1;
    transform: translateY(-20px);
}

.footer-container{
    padding: 20px 40px;
}

.footer-container .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-container .footer .links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-container .footer .links .footer-column{
    margin: 0 12px;
}

.footer-container .footer .links div{
    color: #fff;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}

.footer-container .footer .links ul>li{
    list-style: none;
    margin: 6px 0;
}

.footer-container .footer .links ul>li a{
    text-decoration: none;
    color: #969393;
    font-size: 14px;
    cursor: pointer;
}

.footer-container .footer .links ul>li a:hover{
    text-decoration: underline;
    color: #fff;
}

.footer .social i{
    color: #fff;
    background: #353434;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.footer .social i:hover{
    background: #636262;
}

hr{
    margin: 20px 40px;
    border: 0;
    outline: 0;
    border: 1px solid #575656;
    margin-top: 40px;
}

.copyright{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 30px;
    padding-bottom: 80px;
}

.preview{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px;
}

.preview h4{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.preview p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.preview button{
    padding: 12px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
