@font-face {
    font-family: CirculaSP;
    src: url(static/fonts/circular-std-2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CirculaSP;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
}

body {
    background-color: #000000;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: auto  60px;
    gap: 8px;
    padding: 8px;
}

a {
    text-decoration: none;
}

.main {
    display: grid;
    grid-template-columns: 395px 0.1px 1fr;
    height: 100%;
    gap: 4px;
    overflow: hidden;
    min-width: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    width: auto;
    min-width: 30px;
}
/* Navbar*/

#homelink, #searchlink {
    display: flex;
    gap: 10px;
    padding: 10px;
}

#homelink .icon, #searchlink .icon {
    display: flex;
    align-items: center;
    width: 20px;
    font-size: 20px;
}

#homelink span, #searchlink span {
    display: flex;
    align-items: center;
} 


/* Navbar/Logo */
.left .logo {
    width: 30%;
    margin-top: 10px;
}

.left .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left > .nav, .left > .library {
    padding: 10px;
    border-radius: 6px;
}

.left .nav-item #homelink{
    color: #b3b3b3;
}

.left .nav-item #searchlink{
    color: #b3b3b3;
}

.left .nav-item:focus-within #homelink{
    color: #fff;
}

.left .nav-item:focus-within #searchlink{
    color: #fff;
}
/* Library */
.library {
    height: 100%;
    overflow: hidden;
}

.nav, .library {
    background-color: #121212;
}

.left > .library .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #b3b3b3;
} 

.left > .library .header .header-title:hover span{
    color: #fff;
}

.left > .library .header .plus:hover i{
    color: #fff;
}

.left > .library .header-title {
    display: flex;
}

.left > .library .header .logo {
    width: 11%;
    margin: 0;
}

.left > .library .header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left > .library .header span {
    display: flex;
    align-items: center;
}

.left > .library .header .plus {
    display: flex;
    align-items: center;
}

.library-main {
    display: grid;
    grid-template-rows: auto 235px;
    height: 100%;
    overflow: hidden;
}

/* Sidebar-scroll */

.sidebar-scroll {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.5;
    overflow-y: overlay;
}

.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
    width: 5px;
    overflow-y:overlay;
}

.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
    width: 5px;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width: 5px;
}

.sidebar-scroll .create {
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.sidebar-scroll .create button:hover{
    border: 2px solid #fff;
}

.sidebar-scroll .create > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-scroll .create button {
    border: none;
    border-radius: 20px;
    background-color: #F6F6F6;
    color: black;
    align-self: flex-start;
    padding: 8px 15px;
    cursor: pointer;
}

.sidebar-scroll .create p {
    font-size: 12px;
}

/* Library Footer */

.library-footer {
    overflow: hidden;
}

.library-footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.library-footer ul a {
    color: #A7A7A7;
    font-size: 11px;
}

.library-footer ul li {
    margin-right: 16px;
    margin-bottom: 8px;
}

.library-footer .privacy {
    margin: 32px 0;
    padding: 0 16px;
}

.library-footer .privacy span {
    color: #A7A7A7;
    font-size: 12px;
}

.library-footer .privacy .cookies:hover {
    text-decoration: underline;
    color: #b3b3b3;
}

.library-footer .lang {
    padding: 0 16px;
}

.library-footer .lang button {
    border: 1px solid #A7A7A7;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.library-footer .lang button i {
    margin-right: 5px;
}

.lang:hover button{
    border: 2.5px solid #fff;
}

body >.signup {
    background: linear-gradient(90deg, #AE2996, #5299F3);
}

.right{
    border-radius: 10px;
    background: linear-gradient(rgb(33, 32, 32), #0d0c0c);
    overflow-y: auto !important;
    overflow-x: hidden;
}

.right::-webkit-scrollbar{
    background: transparent;
    width: 5px;
    overflow-y:overlay;
}

.right::-webkit-scrollbar-thumb{
    background: transparent;
    width: 5px;
}

.right:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width: 5px;
}

.right .top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background: #121212;
    height: 64px;
    overflow: hidden;
    align-items: center;
    z-index: 1;
    position: fixed;
    right: 0;
    left: 411px;
    contain: content;
}

.right .top .prev-but button{
    background: #fff; /* Màu nền trắng */
    border: 0;
    outline: 0;
    border-radius: 50%;
    align-items: center;
    background: #fff;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: rgba(0, 0, 0, .7);
}

.right .top button i{
    padding-left: 10px;
}

.top .prev-but button i{
    color: #838181;
    font-size: 22px;
    margin-right: 20px;
}

.top .login-but{
    display: flex;
}

.login-but .sign-up{
    padding: 8px 32px 8px 8px;
    color: #838181;
    font-size: 20px;
    background: transparent;
    border: 0;
    outline: 0;
}

.login-but .Login{
    padding: 8px 32px;
    font-size: 20px;
    color: #242323;
    border-radius: 20px;
}

.login-but .sign-up:hover{
    color: #fff;
}

.login-but .Login:hover {
    border: 2px solid #fff;
    border-radius: 30px;
}

.right .top{
    background-color: rgba(18, 18, 18, 0.8); /* Màu nền trong suốt */
    transition: background-color 0.5s;
}



.signup{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px;
}

.signup h4{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.signup p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.signup button{
    padding: 12px 30px;
    border: 0;
    outline: 0;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

.handler {
    width: 2px;
    padding: 0;
    cursor: ew-resize;
    flex: 0 0 auto;
  }


  .handler:hover::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background: #fff;
    margin: 0 auto;
  }

  .footer-container{
    padding: 20px 40px;
}

.footer-container .footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-container .footer .links{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer-container .footer .links .footer-column{
    margin: 0 12px;
}

.footer-container .footer .links div{
    color: #fff;
    font-weight: 600;
    margin-bottom: 12px;
    font-size: 16px;
}

.footer-container .footer .links ul>li{
    list-style: none;
    margin: 6px 0;
}

.footer-container .footer .links ul>li a{
    text-decoration: none;
    color: #969393;
    font-size: 14px;
    cursor: pointer;
}

.footer-container .footer .links ul>li a:hover{
    text-decoration: underline;
    color: #fff;
}

.footer .social i{
    color: #fff;
    background: #353434;
    padding: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.footer .social i:hover{
    background: #636262;
}

hr{
    margin: 20px 40px;
    border: 0;
    outline: 0;
    border: 1px solid #575656;
    margin-top: 40px;
}

.copyright{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 30px;
    padding-bottom: 80px;
}

@media (max-width: 300px) {
    .left {
        width: 150px;
    }
}