@font-face {
    font-family: CirculaSP;
    src: url(static/fonts/circular-std-2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: CirculaSP;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden !important;
}

body {
    background-color: #000000;
    overflow-y: hidden;
    display: grid;
    grid-template-rows: auto 60px;
    gap: 8px;
    padding: 8px;
}

a {
    text-decoration: none;
}

.main {
    display: grid;
    grid-template-columns: 395px auto;
    height: 100%;
    gap: 8px;
    overflow: hidden;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow: hidden;
}
/* Navbar*/

#homelink, #searchlink {
    display: flex;
    gap: 10px;
    padding: 10px;
}

#homelink .icon, #searchlink .icon {
    display: flex;
    align-items: center;
    width: 20px;
    font-size: 20px;
}

#homelink span, #searchlink span {
    display: flex;
    align-items: center;
} 


/* Navbar/Logo */
.left .logo {
    width: 30%;
    margin-top: 10px;
}

.left .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left > .nav, .left > .library {
    padding: 10px;
    border-radius: 6px;
}

.left .nav-item #homelink{
    color: #b3b3b3;
}

.left .nav-item #searchlink{
    color: #b3b3b3;
}

.left .nav-item:focus-within #homelink{
    color: #fff;
}

.left .nav-item:focus-within #searchlink{
    color: #fff;
}
/* Library */
.library {
    height: 100%;
    overflow: hidden;
}

.nav, .library {
    background-color: #121212;
}

.left > .library .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #b3b3b3;
} 

.left > .library .header .header-title:hover span{
    color: #fff;
}

.left > .library .header .plus:hover i{
    color: #fff;
}

.left > .library .header-title {
    display: flex;
}

.left > .library .header .logo {
    width: 11%;
    margin: 0;
}

.left > .library .header img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left > .library .header span {
    display: flex;
    align-items: center;
}

.left > .library .header .plus {
    display: flex;
    align-items: center;
}

.library-main {
    display: grid;
    grid-template-rows: auto 235px;
    height: 100%;
    overflow: hidden;
}

/* Sidebar-scroll */

.sidebar-scroll {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.5;
    overflow-y: overlay;
}

.sidebar-scroll::-webkit-scrollbar{
    background: transparent;
    width: 5px;
    overflow-y:overlay;
}

.sidebar-scroll::-webkit-scrollbar-thumb{
    background: transparent;
    width: 5px;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb{
    background: #5c5b5b;
    width: 5px;
}

.sidebar-scroll .create {
    background-color: #242424;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
}

.sidebar-scroll .create button:hover{
    border: 2px solid #fff;
}

.sidebar-scroll .create > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-scroll .create button {
    border: none;
    border-radius: 20px;
    background-color: #F6F6F6;
    color: black;
    align-self: flex-start;
    padding: 8px 15px;
    cursor: pointer;
}

.sidebar-scroll .create p {
    font-size: 12px;
}

/* Library Footer */

.library-footer {
    overflow: hidden;
}

.library-footer ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.library-footer ul a {
    color: #A7A7A7;
    font-size: 11px;
}

.library-footer ul li {
    margin-right: 16px;
    margin-bottom: 8px;
}

.library-footer .privacy {
    margin: 32px 0;
    padding: 0 16px;
}

.library-footer .privacy span {
    color: #A7A7A7;
    font-size: 12px;
}

.library-footer .privacy .cookies:hover {
    text-decoration: underline;
    color: #b3b3b3;
}

.library-footer .lang {
    padding: 0 16px;
}

.library-footer .lang button {
    border: 1px solid #A7A7A7;
    border-radius: 20px;
    padding: 5px 10px;
    color: #A7A7A7;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.library-footer .lang button i {
    margin-right: 5px;
}

body >.signup {
    background: linear-gradient(90deg, #AE2996, #5299F3);
}

.right{
    border-radius: 10px;
    color: #fff;
}